#root {
    height: 100vh;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    overflow: hidden;
}

main {
    flex-grow: 1;
    overflow: hidden;
    display: flex;
}

.d-none {
    display: none;
}
