//chat window
.main-content {
    background-image: url(../public/img/chat-bg.jpg);
    background-size: cover;
    flex-grow: 1;
    max-width: 70%;
    background-position: center;
    color: white;
    overflow: hidden;
    position: relative;
    height: 100%;
    display: flex;
    flex-direction: column;

    .current-contact {
        display: flex;
        gap: 20px;
        align-items: center;
        background-color: $gray;
        padding: 13px;
        position: fixed;
        width: 100%;
        img {
            width: 50px;
            border-radius: 50%;
        }

        p {
            flex-grow: 1;
        }
    }

    .messages {
        padding-top: 90px;
        flex-grow: 1;
        overflow: auto;
    }

    .send-wrap {
        background-color: $gray;
        padding: 10px;
        display: flex;
        justify-content: space-around;

        button {
            font-family: "Cinzel Decorative", serif;
            position: relative;
            display: inline-block;
            padding: 8px 10px;
            text-align: center;
            font-size: 12px;
            letter-spacing: 1px;
            text-decoration: none;
            color: $blue;
            background: transparent;
            cursor: pointer;
            transition: ease-out 0.5s;
            border: 2px solid $blue;
            border-radius: 20px;
            font-weight: 900;
            box-shadow: inset 0 0 0 0 $blue;
        }

        button:hover {
            color: white;
            box-shadow: inset 0 -100px 0 0 $blue;
        }

        button:active {
            transform: scale(0.9);
        }
    }

    .message {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        padding: 10px;

        p {
            padding: 5px 10px;
            border-radius: 20px;
            background-color: $gray;
            display: flex;
            flex-direction: column;
        }

        span {
            font-size: 10px;
            color : $lightgray;
        }
    }

    .sent {
        justify-content: flex-end;

        p {
            background-color: $blue;
        }
    }
}
