#root{
  height: 100vh;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

*{
  margin: 0; 
  padding: 0;
  box-sizing: border-box; 
}

body {
  height: 100vh;
  overflow: hidden;
}

//variabili
$blue :  #0b64a8;
$lightgray : #212121; 

//header

.header{
  display: flex; 
  padding: 10px; 
  color: white; 
  background-color: $blue;
  align-items: center;

  .logo {
    width: 20%;
    display: flex; 
    gap: 10px; 
    align-items: center;

    img {
      width: 50px; 
    }
  }

  .disclaimer{
    flex-grow: 1;
    color: rgb(165, 159, 159);
    text-align: center;
  }

  .user{
    width: 20%;
    display: flex; 
    gap: 10px; 
    justify-content: flex-end;
    align-items: center;

    img {
      width: 50px; 
    }
  }
}

main {
  flex-grow: 1;
  overflow: hidden;
  display: flex; 

  .sidebar{
    width: 20%; 
    overflow: auto; 
    background-color: $lightgray;
    display: flex; 
    flex-direction: column;
    gap: 20px; 
    color: white; 
    padding: 20px 5px; 

    .contacts{
      display: flex;
      flex-direction: column;
      gap: 5px; 
      .contact{
        display: flex; 
        gap: 10px; 
        align-items: center;
        padding: 5px; 

        &:hover {
          background-color: $blue;
        }

        img {
          width: 60px; 
          height: 60px;
        }
      }
    }

    .searchbar {
      display: flex; 
      justify-content: space-around;
      align-items: center;
    
      input{
        width: 80%; 
        padding: 8px; 
        border-radius: 10px; 
        font-family: "Cinzel Decorative", serif;
        background-color: #c5c4c4; 
        font-weight: 900;
      }
    }
  }


  .main-content{
    background-image: url(../public/img/chat-bg.jpg);
    background-size: cover;
    flex-grow: 1;
    background-position: center;
    color: white; 

    
  }
}

.d-none{
  display: none; 
}

